h1{
    text-align: center;
}

body{
    background-image:-moz-element()
}

section{
    border-radius: 10px;
    opacity: 5;
}

img#foto{
    border-radius: 10px;
    max-width: 300px;
    float: right;
    
}

p#Texto1{
     font-size: medium;
}

img#fotoqueen{
    border-radius: 10px;
    max-width: 280px;
    float: none;
}
img#popsmoke{
    border-radius: 10px;
    max-width: 280px;
    float: center;
}

audio#queen{
    border-radius: 10px;
    max-width: 280px;
}

audio#popsmoke{
    border-radius: 10px;
    max-width: 280px;
    float: center, 10px right;
}

video#BF{
    border-radius: 10px;
    max-width: 350px;
}

video#COD{
    border-radius: 10px;
    max-width: 350px;
}

video#ELDEN{
    border-radius: 10px;
    max-width: 350px;
}

video#FORZA{
    border-radius: 10px;
    max-width: 350px;
}
img#getyou{
    border-radius: 10px;
    max-width: 280px;
    float: center;
}

audio#getyou{
    border-radius: 10px;
    max-width: 280px;
}

section#secaomusicas{
    float: center;

}

div#blocomusicas{
    text-align: center;
}

div#blocovideos{
    text-align: left;
}

div#blocotextos1{
    text-align: left;
}

h2#insta{
    text-align: center;
    font-size:smaller;
    font-style: italic;
    font-weight: 60;
}