h1{
    text-align: center;
}

body{
    background-image:-moz-element()
}

section{
    background-color: aliceblue;
    border-radius: 10px;
    opacity: 5;
}

img#foto{
    border-radius: 10px;
    max-width: 400px;
    float: right;
    
}